# Core functionality - changes here should be rare!
/src/app.py                   @Rajeshvnvs
/src/backend/database.py      @Rajeshvnvs
/src/backend/routers/auth.py  @Rajeshvnvs

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Rajeshvnvs
